.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1vh;
  padding-bottom: 3vh;

  &--left {
    font-family: cursive;
  }

  &--title {
  }

  &--right {
    font-family: cursive;
  }
}
